/* WEBSITE DESIGN SYSTEM 

it is my goal that this website is as useful as possible to me.
I'd like to have at least 4 design systems on it (3, and inicluding the one that i build it with)
that i can always use as a starting template. 

The four styles are: 
1. the main style 
    (neat, minimal, high fashion website)
2. fintech. smart, finance & statistics app 
3. editorial. the cozy reader-friendly blog
4. ecommerce. the loud and playful ecommerce site.*/

/* MAIN STYLES */
/*COLORS*/
/*
p1: efebe9
p1 light: fff
p1 dark: bdb9b7 
p2: 263238
p2 light #4f5b62
p2 dark 000a12
#000
#fff */

/*TYPOGRAPHY*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {font-size: 131.3%;} /*21px*/

body {
  background: #efebe9;
  font-family: 'DM Sans', sans-serif;
  line-height: 1.75;
  color: #263228;
  width: 100%;
 
}

p {
    margin-bottom: 1rem;
    line-height: 1;
}

h1, h2, h3, h4, h5 {
  margin: 1rem 0 1.38rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  line-height: 1;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}

/*COLORS*/
/*
p1: efebe9
p1 light: fff
p1 dark: bdb9b7 
p2: 263238
p2 light #4f5b62
p2 dark 000a12
#000
#fff


/*BY SECTION*/

a:hover {
    cursor: hand;
}

/*HEADER AND NAV*/

header {
    background-color: #000a12;
    box-shadow: 0px 1px 1px #bdb9b7;
    padding: 5px 5px 0px 5px;

}

nav.headernav ul {
    list-style: none;
}

nav.headernav li {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border-bottom: solid 5px #000a12;
    text-transform: uppercase;
    font-size: 0.707rem;
}

nav.headernav li:hover {
    border-bottom: solid 5px #bdb9b7;
}

nav.headernav li:active {
    border: solid 3px #000a12;
}

nav.headernav li a {
    text-decoration: none;
    color: #efebe9;

}

/*HAPPY INTRO SECTION*/

main {
    min-height: 500px;
}

.happy-intro {
    padding: 10px 10px 10px 30px;
    width: 600px;
    display: inline-block;

}

.happy-intro h1 {
    font-size: 3.157rem;
    font-weight: 500;
    margin-top: 25px;
    color: #000a12;
}

.theme-menu {
    display: inline-block;
    position: relative;
    left: 50px;
    margin: 5px;
}

ul.theme-menu {
    list-style: none;
}

ul.theme-menu li {
    width: 300px;
}

.theme-menu a {
    display: inline-block;
    box-sizing: border-box;
    margin: 5px 5px 10px 5px;
    padding: 0px 10px 0px 20px;
    width: calc(100% - 10px);
    text-align: left;
    font-size: 1.777em;
    font-weight: 500;
    text-decoration: none;
    background-color: #000a12;
    color: #bdb9b7;

}



.theme-menu a:hover {
    background-color: #263228;
    color: #efebe9;
}

.theme-menu a:active {
    background-color: none;
    color: #000a12;
    border: solid 5px #000a12;
}

/*INTRO*/

.intro {
    background: #4f5b62;
    background: -webkit-linear-gradient(338deg, #4f5b62 0%, #000a12 50%, #000000 100%);
    background: linear-gradient(338deg, #4f5b62 0%, #000a12 50%, #000000 100%);
    background-color: #000a12;
    min-height: 600px;
    position: relative;

}

.about {
    background-color: #000a12;
    padding: 20px;
    color: #bdb9b7;
    width: 50%;
}

.about h5 {
    color: #4f5b62;
}

.about hr {
    size: 5px;
    width: 100%;
    color: #bdb9b7;
    border-width: 0px;
    background-color: #bdb9b7;


}

/*FIXED STYLE MENU*/

.styleguidemenu {
    position: fixed;
    top: 400px;
    right: 100px;
    z-index: 3;
}


.styleguidemenu-btn {
    overflow: hidden;
    position: relative;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    width: 30px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #bdb9b7;
    transition: width 0.3s 0.5s ease, border-radius 1.1s ease;
}

.styleguidemenu-btn a {
    display: block;
    position: relative;
    color: #000a12;
    text-decoration: none;
    overflow: hidden;
    padding: 5px;
}

.styleguidemenu-btn a:hover {
    text-decoration: inherit;
    color: #bdb9b7;
    background-color: #000a12;
    transition: background-color 0.5s ease;
}

.styleguidemenu-btn:after {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    line-height: 20px;
    text-align: center;
    font-size: 1.1rem;
    background-color: #000a12;
    color: #bdb9b7;
    transform: translateY(-50%) translateX(-50%);
    transition: all 0.3s 0.5s ease; 
    cursor: pointer;
    cursor: hand;
}

.styleguidemenu-btn ul{
    opacity: 0;
}

.styleguidemenu-btn ul {
    margin-top: 15px;
    opacity: 0;
    width: 100%;
    margin-left: 0px;
    transition: all .5s ease;
    text-align: center;
    font-size: 0.9rem;

}

.styleguidemenu-btn ul:after {
    margin-bottom: 5px;
    border-radius: 5px;
}

.styleguidemenu-btn ul li {
    background-color: #bdb9b7;
    margin-top: 0;
    border-top: solid 1px #000a12;
    border-bottom: solid 1px #000a12;
    border-left: solid 2px #000a12;
    border-right: solid 2px #000a12;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height 1s ease;
}

.styleguidemenu-label {
    position: relative;
    padding: 5px;
    width: 70px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 15px;
    animation-duration: 3s;
    animation-name: jump;
    animation-iteration-count: infinite;
    background-color: #bdb9b7;
    color: #000a12;
    transition: all 1s ease;
    pointer-events: none;
}

.styleguidemenu-label::after {
    content: "";
    position: absolute;
    transform: rotate (45deg);
    display: block;
    height: 10px;
    width: 10px;
    left: 0;
    right: 0px;
    margin: 0 auto;
    background-color: inherit;

}

.styleguidemenu-label::before {
    content: "";
    color: #bdb9b7;
}


.styleguidemenu-btn li:first-child {
    border-top: solid 2px #000a12;
}

.styleguidemenu-btn li:last-child {
    border-bottom: solid 2px #000a12;
}

.styleguidemenu:hover .styleguidemenu-label {
    animation-duration: 0s;
    transition: all 1s ease;
    color: #bdb9b7;
    width: 60px;
    }

.styleguidemenu:hover .styleguidemenu-label::before {
    content: "hello";
    display: block;
    color: #000a12;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    transition: all 1s 0.3s ease;
}


.styleguidemenu:hover .styleguidemenu-btn {
    width: 200px;
    /*height: 120px;*/
    padding-bottom: 5px;
    transition: width .3s ease, border-radius .3s ease, padding-bottom .3s ease;
}

.styleguidemenu:hover .styleguidemenu-btn::after {
    transition: all .3s ease;
    left: 50%;
    top: 10px;
    transform: translateY(-5px) translateX(-50%);


}

.styleguidemenu:hover .styleguidemenu-btn ul {
    opacity: 1;
    /*height: 100%*/
    margin-top: 30px;
    transition: all 1s ease;

}

.styleguidemenu:hover .styleguidemenu-btn ul:hover {
    border-radius: 5px;

}

.styleguidemenu:hover .styleguidemenu-btn li {
  height: 35px;
  transition: height 1s ease;
    
}

.styleguidemenu:hover .styleguidemenu-btn li:hover {
    border-bottom: 1px solid darken(#263228, 10);;
}

/*SOME STANDARD THINGS*/
.section {
    min-height: 800px;
    padding: 20px;
    
}

hr {
    height: 5px;
    color: #263228;
    border-width: 0px;
    background-color: #263228;
}

.shortnsweet {
    display: inline-block;
    color:#263228;
    width: 50%;
    height: 150px;
    margin: 20px;

}

.shortnsweet h2 {
    margin: 5px 0px;
    padding-top: 0px;
    font-size: 2.369rem;
    z-index: 2;
    letter-spacing: 0.01rem;
    
}

.shortnsweet p {
    display: inline-block;
    width: 75%;
}

.meta {
    display: absolute;
    padding: 10px 20px;
} 


.meta button {
    position: relative;
    bottom: 5px;
    padding: 5px;
    margin: 2px;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 5px #263228;
    font-size: small;
    text-transform: uppercase;
}

.meta button:hover {
    background-color: #263228;
    color: #efebe9;
    font-weight: 500;
    cursor: pointer;

}



/*STRUCTURE*/


/*RESPONSIVE*/

/*TYPE*/

.type-spec {
    display: flex;
    padding: 15px;;
    

}
.type-spec1 {
    flex: 50%;
    padding: 10px 20px 10px 25px;
}

.type-spec1 hr {
    height: 2px;
    color: #263228;
    border-width: 0px;
    background-color: #263228;
}

.type-spec small {
    text-transform: uppercase;

}

/*FINTECH TYPE SECTION ----------------------------------------------------*/

.fintech .type-spec h1 h2 h3 h4 h5 h6 {
    font-size: 100%; /*16px*/
    line-height: 1;
    font-family: 'neue-haas-grotesk-display', sans-serif;
}

.fintech .type-spec h1 {
    font-size: 2.488rem;
    font-weight: 900;
    font-family: 'neue-haas-grotesk-display', sans-serif;
}

.fintech .type-spec h2 {
    font-size: 2.074rem;
    font-weight: 700;
    font-family: 'neue-haas-grotesk-display', sans-serif;
}

.fintech .type-spec h3 {
    font-size: 1.728rem;
    font-weight: 700;
    font-family: 'neue-haas-grotesk-display', sans-serif;
}

.fintech .type-spec h4 {
    font-size: 1.44rem;
    font-weight: 600;
    font-family: 'neue-haas-grotesk-display', sans-serif;
}

.fintech .type-spec h5 {
    font-size: 1.2rem;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.fintech .type-spec h6 {
    font-size: 0.694rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    font-family: 'neue-haas-grotesk-display', sans-serif;
}

.fintech .type-spec p {
    font-size: 1rem;
    line-height: 1;
    font-family: 'neue-haas-grotesk-text', sans-serif;
}
/*EDITORIAL TYPE SECTION ----------------------------------------------------*/

.editorial .type-spec h1 h2 h3 h4 h5 h6 {
    font-size: 100%; /*16px*/
    line-height: 1;
    font-family: 'maple-web', sans-serif;
}

.editorial .type-spec h1 {
  margin-top: 0;
  font-size: 5.653rem;
  font-weight: 900;
  font-family: 'maple-web', sans-serif;

}

.editorial .type-spec h2 {
    font-size: 3.998rem;
    font-weight: 700;
    font-family: 'maple-web', sans-serif;

}

.editorial .type-spec h3 {
    font-size: 2.827rem;
    font-weight: 500;
    font-family: 'maple-web', sans-serif;
}

.editorial .type-spec h4 {
    font-size: 1.999rem;
    font-weight: 500;
    font-family: 'maple-web', sans-serif;

}

.editorial .type-spec h5 {
    font-size: 1.414rem;
    font-weight: 400;
    font-family: 'maple-web', sans-serif;
}

.editorial .type-spec h6 {
    font-size: 0.707rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'maple-web', sans-serif;

}

.editorial .type-spec p {
    font-size: 1rem;
    font-family: 'adobe-caslon-pro', serif;
    font-weight: 400;
    line-height: 1;
}



/*ECOMMERCE TYPE SECTION ----------------------------------------using "perfect fourth: 1.333------------*/

.ecommerce .type-spec h2 h3 h4 h5 p {
    font-size: 100%; /*16px*/
    line-height: 1.3;
    font-family: 'plantin', sans-serif;
    margin: 3rem 0 1.38rem;


}


.ecommerce .type-spec h1 {
  margin-top: 0;
  font-size: 4.209rem;
  font-weight: 700;
  font-family: 'plantin-condensed', sans-serif;
  text-transform: uppercase;
}

.ecommerce .type-spec h2 {
    font-size: 3.157rem;
    font-weight: 700;
    font-family: 'plantin', sans-serif;
}

.ecommerce .type-spec h3 {
    font-size: 2.369rem;
    font-weight: 600;    
    font-family: 'plantin', sans-serif;

}

.ecommerce .type-spec h4 {
    font-size: 1.777rem;
    font-weight: 600;
    font-family: 'plantin', sans-serif;

}

.ecommerce .type-spec h5 {
    font-size: 1.333rem;
    font-weight: 600;
    font-family: 'plantin', sans-serif;

}

.ecommerce .type-spec h6 {
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'monotype-grotesque', sans-serif;
}

.ecommerce .type-spec p {
    margin-bottom: 1rem;
    font-weight: 400;
    font-family: 'plantin', sans-serif;

}

/*COLOR*/

div.color-set {
    margin: 20px;
    width: 60%;
    float: right;
}

.color-set h4 {
    display: inline;
}


.color-set hr {
    height: 2px;
    color: #263228;
    border-width: 0px;
    background-color: #263228;
    
}

div.color-set-primary {
   background-color: transparent;
   display: inline-block;
   position: relative;
   left: 50px;
   padding: 15px;

}

div.color-set-secondary {
   background-color: transparent;
   display: inline-block;
   position: relative;
   left: 50px;
   padding: 15px;

}

.color-set-primary h6 {
    color: #000047;
}

.color-set-secondary h6 {
    color: #e1f5fe;
}

#editorial-color-section .color-set-secondary {
    color: #cdc2d4;
}

div.color-set-functional {
   background-color: transparent;
   display: inline-block;
   position: relative;
   left: 50px;
   padding: 15px;


}



.grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(1, 150px);
    gap: 15px;
}

.color {
    padding: 10px;
}

/*FINTECH COLORS :) */

#fintech-p {
    background-color: #e1f5fe;
}

#fintech-p1 {
    background-color: #fff;

}

#fintech-p2 {
    background-color: #afc2cb;

}

#fintech-s {
    background-color: #070773;

}

#fintech-s1 {
    background-color: #4a31a3;

}

#fintech-s2 {
    background-color: #000047;

}

#fintech-f {
    background-color: #000;

}

#fintech-f1 {
    background-color: #000;

}

#fintech-f2 {
    background-color: #000;
}

/*ECOMMERCE COLORS :)
---------------------------------------------------------------------- */

#ecommerce-p {
    background-color: #65022d;
    
}

#ecommerce-p1 {
    background-color: #973956;

}

#ecommerce-p2 {
    background-color: #380001;

}

#ecommerce-s {
    background-color: #d9560a;

}

#ecommerce-s1 {
    background-color: #ff863e;

}

#ecommerce-s2 {
    background-color: #a02400;

}

#ecommerce-f {
    background-color: #af8c45;

}

#ecommerce-f1 {
    background-color: #e3bc72;

}

#ecommerce-f2 {
    background-color: #7d5f19;
}

#ecommerce-l {
    background-color: #faf2c2;
}

#ecommerce-l1 {
    background-color: #fffff5;
}

#ecommerce-l2 {
    background-color: #c7bf91;
}

/*EDITORIAL BLOG COLORS-------------------------------------------------*/

#editorial-p {
    background-color: #3e2d3b;
}

#editorial-p1 {
    background-color: #695665;

}

#editorial-p2 {
    background-color: #190315;

}

#editorial-s {
    background-color: #0101a9;

}

#editorial-s1 {
    background-color: #323bc0;

}

#editorial-s2 {
    background-color: #000078;

}

#editorial-f {
    background-color: #fcbcba;

}

#editorial-f1 {
    background-color: #ffefec;

}

#editorial-f2 {
    background-color: #c88c8a;
}

#editorial-l {
    background-color: #cdc2d4;

}

#editorial-l1 {
    background-color: #fff5ff;

}

#editorial-l2 {
    background-color: #9c92a3;
}



/* BUTTONS AND SHAPES*/


.button-section {
    display: block;
    width: 320px;
    margin: 10px 400px;
}

.button-section button {
    display: relative;

}

/*FINTECH BUTTONS*/


.fintech-daddybutton {
    background-color: #000047;
    color: #e1f5fe;
    width: 200px;
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
    border: transparent;
    font-size: 1.953rem;
    font-weight: 500;
    font-family: 'neue-haas-grotesk-display', sans-serif;
}

.fintech-daddybutton:hover {
    cursor: pointer;
    background-color: #070773;
    color: #e1f5fe;
    
}

.fintech-mommybutton {
    background-color: #070773;
    width: 200px;
    margin: 15px;
    border: transparent;
    color: #e1f5fe;
    border-radius: 8px;
    font-size: 1.563rem;
    padding: 6px;
    font-weight: 400;
    font-family: 'neue-haas-grotesk-display', sans-serif;
}

.fintech-mommybutton:hover {
    cursor: pointer;
    background-color: #4a31a3;
}

.fintech-babybutton {
    background-color: transparent;
    margin: 15px;
    max-width: 200px;
    padding: 5px;
    color: #070773;
    cursor: pointer;
    border: transparent;
    font-size: 1rem;
    font-family: 'neue-haas-grotesk-text', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: solid 6px #070773;

}

.fintech-babybutton:hover {
    border-radius: 8px;
    background-color: #070773;
    color: #e1f5fe;
    
}

/*BLOG + EDITORIAL BUTTONS*/

.editorial-daddybutton {
    background-color: #3e2d3b;
    color: #fcbcba;
    width: 200px;
    margin: 15px;
    padding: 10px;
    border-radius: 25px;
    border: transparent;
    font-size: 1.414rem;
    font-weight: 500;
    font-family: 'maple-web', sans-serif;
}

.editorial-daddybutton:hover {
    cursor: pointer;
    background-color: #695665;
    color: #ffefec;
    
}

.editorial-mommybutton {
    background-color: #0101a9;
    width: 200px;
    margin: 15px;
    border: transparent;
    color: #fff5ff;
    border-radius: 25px;
    padding: 6px;
    font-size: 1.414rem;
    font-weight: 400;
    font-family: 'maple-web', sans-serif;
}

.editorial-mommybutton:hover {
    cursor: pointer;
    background-color: #323bc0;
}

.editorial-babybutton {
    background-color: #190315;
    margin: 15px;
    max-width: 200px;
    padding: 10px;
    color: #fcbcba;
    cursor: pointer;
    border: solid 2px #190315;
    border-radius: 25px;
    font-size: 0.707rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'maple-web', sans-serif;

}

.editorial-babybutton:hover {
    border-radius: 25px;
    border: solid 4px #190315;
    background-color: transparent;
    color: #190315;
    
}



/*ECOMMERCE BUTTONS*/

.ecommerce-daddybutton {
    background-color: #65022d;
    color: #fffff5;
    width: 200px;
    margin: 15px;
    padding: 10px;
    border-radius: 2px;
    border: transparent;
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'monotype-grotesque', sans-serif;
}


.ecommerce-daddybutton:hover {
    cursor: pointer;
    background-color: #973956;
    color: #fffff5;
    
}

.ecommerce-mommybutton {
    background-color: #a02400;
    width: 200px;
    margin: 15px;
    border: transparent;
    color: #fffff5;
    border-radius: 2px;
    font-size: 1.563rem;
    padding: 6px;
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'monotype-grotesque', sans-serif;
}


.ecommerce-mommybutton:hover {
    cursor: pointer;
    background-color: #d9560a;
}

.ecommerce-babybutton {
    background-color: transparent;
    margin: 15px;
    max-width: 200px;
    padding: 5px;
    color: #7d5f19;
    cursor: pointer;
    border: transparent;
    border-bottom: solid 6px #7d5f19;
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'monotype-grotesque', sans-serif;
}


.ecommerce-babybutton:hover {
    border-radius: 2px;
    background-color: #7d5f19;
    color: #faf2c2;
    
}


/*ANIMATION*/


/*FOOTER*/

footer {
    background-color: #000a12;
    color: #bdb9b7;
    padding: 20px 50px 10px 50px;
    margin-top: 30px;
}

.footer-info {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 10px;
    margin: 0px 20px;
    left: 500px;
}

footer h5 {
    margin: 5px 0px;
}

footer ul {
    text-decoration: none;
    list-style: none;
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: capitalize;


}

footer ul a {
    text-decoration: none;
    color: #bdb9b7;
    border: solid 2px #000a12;
    

}

footer a:hover {
    cursor: hand;
    border-bottom: solid 2px #bdb9b7;

}


